<div class="row">

  {{#each offers}}
    <a href="/product/{{_id}}" class="no-decoration">
      <div class="col-sm-6">
        <div class="thumbnail">
          <img src="{{photo_url}}" onerror="this.src='http://placehold.it/650x450&text=Product'" class="img-responsive">

          <div class="caption">
            <div class="row">
              <div class="col-xs-6">
                <h5>{{name}}</h5>
              </div>
              <div class="col-xs-6 text-right">
                <h5>${{price}}</h4>
              </div>
            </div>

            <p>{{description}}</p>

            <hr>

            <div class="row">
              <div class="col-md-6">
                <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
              </div>

              <div class="col-md-6">
                <form method="post" action="/product/{{_id}}/purchase">
                  <input type="text" style="display: none;" value="{{_id}}" />
                  <button type="submit" class="btn btn-success btn-product add-to-cart">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                  </a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  {{/each}}
</div>
