<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{conf.app.name}} - {{title}}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/product.css">
    <link rel="stylesheet" href="/public/main.css">
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="menu-child" data-name=""><a href="/">Home</a></li>
            <li role="presentation" class="menu-child" data-name="browse"><a href="/browse">Browse products</a></li>
            <li role="presentation" class="menu-child" data-name="product"><a href="/product">Product</a></li>
            <li role="presentation" class="menu-child" data-name="cart"><a href="/cart">My cart</a></li>
          </ul>
        </nav>

        <h3 class="text-muted menu-logo">
          <img src="public/symbol.svg" />
          <a href="/" class="no-decoration">{{conf.app.name}}</a>
        </h3>
      </div>

      {{{body}}}

      <footer class="footer">
        <p>&copy; {{conf.app.name}} <span class="yyyy">2015</span></p>
      </footer>
    </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/public/main.js"></script>
  </body>
</html>

