<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} - {{conf.app.name}}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/main.css">
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center">
              <img src="public/symbol.svg" class="symbol-logo" title="{{conf.app.name}}">
            </h3>
            <hr>
          </div>
        </div>
        <div class="row">
          {{{body}}}
        </div>
      </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//{{conf.orbsa.url}}{{conf.orbsa.prefix}}/js?fresh=1"></script>
    <script src="/public/main.js"></script>
  </body>
</html>

